/*-Declaracion de Variables-*/

:root {
    --primary: #121826;
    --secondary: #E5E7EB;
    --terciary: #212936;
    --cuaternary: #845EEE;
    --quinary: #5425AF;
    --senary: #845EEE4D;
    --septenary: #A1A1A9;
    --octonaryA: #394150;
    --octanaryB: #111827;

}

body {


    background-color: var(--primary);
    background-repeat: no-repeat;
    background-image: url("/img/blur-radial.png");
    background-position: 325px 29px;
    background-size: 328px;
    display: flex;
    padding-left: 424px;
    flex-direction: column;

}

/*--Estilo Campos Formulario--*/
.containerOne {
    background: linear-gradient(to bottom, var(--septenary), transparent 55%);
    width: 395px;
    height: 306px;
    margin-top: 126px;
    position: relative;
    border-top-right-radius: 261px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 12px;
    /* Para darle un efecto más suave */
}

.containerTwo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 0.8px;
    margin-left: 0.8px;
    background-color: var(--terciary);
    position: absolute;
    width: 448px;
    height: 329px;
    padding-top: 42px;
    padding-left: 39px;
    border-radius: 12px;
}

.botton-Register {
    color: var(--secondary);
    background-color: var(--cuaternary);
    border: none;
}

legend {
    color: var(--secondary);
    font-family: "Inter", sans-serif;
    font-size: 21px;
}

label {
    color: var(--secondary);
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    margin-bottom: 8px;
}

.label-Email {
    margin-top: 24px;
}

input {
    width: 394px;
    height: 43px;
    background-color: var(--terciary);
    border: 1.5px solid var(--octonaryA);
    border-radius: 9px;
}

input::placeholder {
    color: var(--secondary);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    padding-left: 8px;
}

/*-- Estilo pagina index2----------------------------------------------------*/

.inputsPageTwo {
    height: 40px;
    background-color: var(--octonaryA);
    border: 1.5px solid #4f4f5a;
    border-radius: 13px;
    margin-bottom: 16px;

}

.inputsPageTwo::placeholder {
    padding-left: 13px;
    font-size: 12px;

}

.inputsPageTwo:hover {
    background-color: var(--quinary);
    border: 1.5px solid var(--cuaternary);
    cursor: pointer;
}

/*--------------------------------------------------------------------------*/

/*--Estilo Boton--*/

.botton-Register {
    font-size: 12px;
    margin: 40px 1px 1px 149px;
    width: 114px;
    height: 35px;
    border-radius: 23px;
}

.container-Btn {
    width: 350px;
    height: 50px;
}


/*--ESTILOS SLIDER  --*/

.textSlider {
    width: 250px;
    height: 70px;
    margin-top: 71px;
    margin-left: 161px;
    display: flex;
}

.text {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    color: var(--septenary);
    width: 68px;
    padding-top: 13px;
}

/*--Icono--*/
i {
    color: var(--octonaryA);
    font-size: 9px;
    margin-left: 6px;
}

.shadow {
    background: radial-gradient(circle, #5425AF 34%, var(--senary) 10%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 10px;
}


.shadow-icon {
    width: 8%;
    height: 30%;
    border-radius: 100%;
    opacity: 0.9;
    margin-top: 8px;
    margin-left: 6px;
}